
{% if footer %}

	<section class="footer">
		<div>
			<h2>{{footer.title}}</h2>
			<a href="{{footer.url}}"><div>{{footer.btnLabel}}</div></a>
		</div>
	</section>
{% endif %}


	<footer>
		<div>
			<div>
				<img src="/imgs/WIRC_logo_hor3.svg" alt="{{siteConfig.siteName}} logo" id="signup"/>
                <p>Sign up to get the latest updates and insights on the wood industry.</p>
                {% include "partials/email-signup.njk" %}
			</div>
			<div>
				<ul class="columns-2">
					<li>
						<a href="/why-wood">Why Wood</a>
					</li>
					<li>
						<a href="/get-started">Get Started</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/videos">Videos</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
					<li>
						<a href="/events">Events</a>
					</li>
					<li>
						<a href="/workforce-analysis/">Wood Industry Report</a>
					</li>
				</ul>
			</div>
			<div></div>
			<div>
           
{% extends "layout.njk" %}


			</div>
		</div>
		<div>
			<div>
				<div>
					&copy; <span id="copyright-year">{{year}}</span> {{siteConfig.siteName}} <span>All Rights Reserved.</span>
				</div>
				<div>
					<a href="/privacy-policy"><div>Privacy Policy</div></a>
					{# <a href="/terms"><div>Terms of Service</div></a> #}
				</div>
			</div>
		</div>
	</footer>
    <script src="/js/main.js"></script>
    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
    </script>
</body>
</html>
