
{% if footer %}
<section class="footer">
    <div>
        <h2>{{ footer.title }}</h2>
        <a href="{{ footer.url }}"><div>{{ footer.btnLabel }}</div></a>
    </div>
</section>
{% endif %}

<!-- Social Media Links Rendering -->
{% if socialMediaLinks %}
<div class="social-links">
    {% for platform, url in socialMediaLinks %}
        <a href="{{ url }}" target="_blank">
            <!-- Customize the display name based on the platform -->
            {% if platform == 'facebook' %}
                <i class="fab fa-facebook"></i> Facebook
            {% elif platform == 'instagram' %}
                <i class="fab fa-instagram"></i> Instagram
            {% elif platform == 'linkedin' %}
                <i class="fab fa-linkedin"></i> LinkedIn
            {% elif platform == 'youtube' %}
                <i class="fab fa-youtube"></i> YouTube
            {% elif platform == 'tiktok' %}
                <i class="fab fa-tiktok"></i> TikTok
            {% elif platform == 'email' %}
                <i class="fas fa-envelope"></i> Email
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endif %}

<footer>
    <div>
        <div>
            <img src="/imgs/WIRC_logo_hor3.svg" alt="{{siteConfig.siteName}} logo" id="signup"/>
            <p>Sign up to get the latest updates and insights on the wood industry.</p>
            {% include "partials/email-signup.njk" %}
        </div>
        <div>
            <ul class="columns-2">
                <li><a href="/why-wood">Why Wood</a></li>
                <li><a href="/get-started">Get Started</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/workforce-analysis/">Wood Industry Report</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="/js/main.js"></script>
    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
    </script>
</body>
</html>
