<!-- src/templates/layouts/about.njk -->

  {{ body | safe }}
{% extends "base.njk" %}  <!-- Or the main template/layout -->

{% block content %}
  <section class="hero">
    <div>
      <img src="{{ hero }}" alt="hero image"/>
      <h1>{{ title }}</h1>
    </div>
  </section>

  <section class="about">
    <div>
      {{ contents }}
    </div>
  </section>

  <section class="cards">
    <div>
      {% for card in cards %}
        <div class="card">
          <img src="{{ card.img }}" alt="{{ card.title }} icon"/>
          <h3>{{ card.title }}</h3>
          <p>{{ card.copy }}</p>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="associations">
    <div>
      <h2>WIRC Executive Committee</h2>
      <div class="association-logos flex flex-wrap">
        {% for assoc in execAssociations %}
          <a href="{{ assoc.url }}" target="_blank" title="{{ assoc.title }}">
            <img src="{{ assoc.img }}" alt="{{ assoc.title }} logo"/>
          </a>
        {% endfor %}
      </div>
    </div>
  </section>

  <footer>
    <div>
      <h2>{{ footer.title }}</h2>
      <a href="{{ footer.url }}" class="btn">{{ footer.btnLabel }}</a>
    </div>
  </footer>
{% endblock %}
