{# about2.njk #}

{% set test1 = "https://example.com/from-about2-test1" %}
{% set test2 = "Text from about2 for TEST Link 2" %}

<p>Included Data in about2.njk:</p>
<p>TEST Link 1: <a href="{{ test1 }}">{{ test1 }}</a></p>
<p>TEST Link 2: {{ test2 }}</p>

