{% include "partials/header.njk" %}
	<section class="hero">
		<div>
			<img src="{{hero}}" alt="hero image"/>
			<h1>{{title}}</h1>
		</div>
	</section>
	<section class="about">
		<div>
			<h2>{{title1}}</h2>
			<p>{{description1}}</p>
			<h2>{{cards[0].title2}}</h2>
			<p>{{cards[0].description2}}</p>
			<h2>{{cards[1].title3}}</h2>
			<p>{{cards[1].description3}}</p>
			<h2>{{cards[2].title4}}</h2>
			<p>{{cards[2].description4}}</p>
		</div>
	</section>
	<section>
		<div>
			{% for card in cards %}
				<div>
					<img src="{{card.img}}" alt="{{card.title2}} icon"/>
					<h3>{{card.title2}}</h3>
					<p>{{card.copy}}</p>
				</div>
			{% endfor %}
		</div>
	</section>
	<section class="associations">
		<div>
			<h2>WIRC Executive Committee</h2>
			<div class="association-logos flex flex-wrap">
				{% for assoc in execAssociations %}
					<a href="{{assoc.url}}" target="_blank" title="{{assoc.title}}">
						<img src="{{assoc.img}}" alt="{{assoc.title}} logo"/>
					</a>
				{% endfor %}
			</div>
			<div class="grid lg:grid-cols-2 gap-4">
				{% for assoc in execAssociations %}
					<a href="{{assoc.url}}" target="_blank" title="{{assoc.title}}">
						<img src="{{assoc.img}}" alt="{{assoc.title}} logo"/>
					</a>
				{% endfor %}
			</div>
		</div>
	</section>
{% include "partials/footer.njk" %}
